:host {
  .progress-spinner-wrapper {
    position: fixed;
    z-index: 100;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;

    width: 100%;
    height: 100%;
    background-color: #00000038;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
